body{
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(200, 226, 250);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    justify-content: space-around;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1{
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    position: relative;
    left: 0px;
    margin-top: auto;
    flex-direction: row;
    align-items: center;
    background-color: rgb(1, 75, 109)
}

#first{
    position: relative;
    left: 680px;
    border-radius: 50px;
}

#second{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
}


input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
}